@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
}
