@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.signup {
  margin: 0 auto;
}

.signup h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  color: rgb(65, 181, 232);
  margin-top: 100px;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup form input {
  margin: 10px 0;
  height: 50px;
  width: 400px;
  border: 3px solid rgb(65, 181, 232);
}

.signup form input::placeholder {
  padding: 0 10px;
}

.signup form button {
  border: none;
  background-color: rgb(65, 181, 232);
  height: 60px;
  padding: 0 20px;
  margin-top: 2.5em;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  width: 410px;
  cursor: pointer;
}
