@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.signup {
  margin: 0 auto;
}

.signup h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(65, 181, 232);
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.signup form input {
  margin: 10px 0;
  height: 28px;
  width: 195px;
  border: 2px solid rgb(65, 181, 232);
  border-radius: 5px;
}

.signup form input::placeholder {
  padding: 0 10px;
}

.signup form button {
  border: none;
  background-color: rgb(65, 181, 232);
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 110px;
  cursor: pointer;
  margin: 20px 0;
}
