@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.body {
  background-color: #f7f8f9;
}

.login {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  color: rgb(173, 220, 145);
  margin-top: 100px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.login form input {
  margin: 10px 0;
  height: 50px;
  width: 400px;
  font-size: 1em;
  border: 3px solid rgb(173, 220, 145);
}

.login form input::placeholder {
  padding: 0 10px;
}

.login form button a {
  text-decoration: none;
  color: white;
}

.btn-login {
  border: none;
  background-color: rgb(173, 220, 145);
  height: 60px;
  padding: 0 20px;
  margin-top: 2.5em;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  width: 410px;
  cursor: pointer;
}

.btn-signup {
  width: 410px;
  height: 60px;
  margin-top: 13em;
  padding: 3px 2px;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 5px;
  background-color: rgb(65, 181, 232);
  border: none;
  cursor: pointer;
}

.errors-div {
  font-size: 12px;
  margin-top: 5px;
  color: red;
  background-color: #f8d7da;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.errors-div ul {
  margin: 0;
  padding: 5px 31px;
}
