@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.t-form {
  color: orange;
}

.item {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  border: 1px solid gray;
  background-color: white;
  margin: 0 15px 12px 15px;
  border-radius: 11px;
  flex-direction: column;
  font-size: 3.5vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item input {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 3.2vw;
}

.date-old {
  display: flex;
  margin: 8px 0 8px 7px;
  justify-content: center;
}

.date-div,
.duration-div,
.pulse-div,
.calories-div {
  display: flex;
  align-items: center;
}

.date-div {
  margin-right: 8px;
}

.date-div input,
.duration-div input,
.pulse-div input,
.calories-div {
  width: 32vw;
  font-size: 3.2vw;
  font-family: 'Roboto', sans-serif;
  padding: 6px;
}

.duration-div input {
  width: 9vw;
}

.rate-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.rate-div span {
  font-size: 5vw;
}

.rate-div span:first-child {
  font-size: 4vw;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  cursor: pointer;
}
