@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.t-form {
  color: orange;
}

.item {
  font-family: 'Open Sans', sans-serif;
  border: 3px solid orange;
  width: 50vw;
  margin: 1% 25%;
  padding: 10px;
  border-radius: 11px;
  font-size: 3vw;
}

.form-div {
  display: flex;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item input {
  border-radius: 5px;
  border: 1px none;
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
  width: 10vw;
}

.item-detail input {
  padding-right: 0;
  margin-left: 1em;
  margin-bottom: 6px;
  height: 1.5em;
}

#date {
  width: auto;
  color: gray;
}

.duration-div input {
  width: 23vw;
}

.distance-div input {
  width: 26vw;
}

.pulse-div input {
  width: 36vw;
}

.calories-div input {
  width: 15vw;
}

.rate-div {
  display: flex;
  justify-content: center;
  margin: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  cursor: pointer;
}

.buttons-form {
  margin-left: 8%;
}

#option1,
#option2,
#option3,
#option4 {
  margin-top: 5px;
}
