@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.t-form {
  color: orange;
}

.item {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid gray;
  background-color: white;
  margin: 0 15px 12px 15px;
  border-radius: 11px;
  font-size: 3.5vw;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item input {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 3.2vw;
}

.date-div,
.duration-div {
  display: flex;
  align-items: center;
}

.date-div input,
.duration-div input,
.pulse-div input,
.calories-div input {
  width: 32vw;
  font-size: 3.2vw;
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
}

.rate-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rate-div span {
  font-size: 5vw;
}

.rate-div span:first-child {
  font-size: 4vw;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  cursor: pointer;
}
